@model AddBlogCommand

<!DOCTYPE html>

<html>
<head>
    <title>Add blog page</title>
</head>
<body>
<div>
    <form asp-controller="Admin" asp-action="AddBlog" method="post">
        <label asp-for="Title"> Title </label>
        <input type="text" asp-for="Title" />
        <br>
        <label asp-for="Content"> Content </label>
        <input type="text" asp-for="Content" />
        <br>
        <input type="submit" value="Send" />
    </form>
</div>
</body>
</html>