@model IReadOnlyCollection<BlogDto>

<!DOCTYPE html>

<html>
<head>
    <title>All blogs</title>
</head>
<body>
<div>
    <h2>All blogs: </h2>
    @foreach (var blog in @Model)
    {
        <a href="blogs/@blog.Id">
            @blog.Title
            @Html.Raw(blog.Content)
            @blog.CreatedAt
            @blog.AuthorName
        </a>
        <br/>
    }
</div>
</body>
</html>