@model IReadOnlyCollection<BlogDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Blogs</title>
</head>
<body>
    <div>
        Блоги:
    </div>
    <div>
        @foreach (var blog in Model)
        {
            <div>
                Название -  @blog.Title
                Контент - @blog.Content
                Админ - @blog.AuthorName
                Создано - @blog.CreatedAt
            </div>
        }
    </div>
</body>
</html>