@model IReadOnlyCollection<BlogDto>

<!DOCTYPE html>

<html>
<head>
    <title>Blog</title>
</head>
<body>
<div>
    <h1> Blog list: </h1>
    @foreach (var blog in Model)
    {
        <a href="blogs/@blog.Id">
            Title - @blog.Title
            <br />
            Content - @blog.Content
            <br />
            CreatedAt - @blog.CreatedAt
        </a>
        <br/>
        <br/>
    }
</div>
</body>
</html>