@model GetBlogDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Blogs</title>
</head>
<body>
    <div>
          Title - @Model.Title
          Content - @Model.Content
    </div>
</body>
</html>